@page "/"
<style>
    .box_border {
        border: 3px dotted black;
        border-radius: 10%;
    }
</style>
<html>
<header class="container-fluid">
    <div class="row card-group my-2">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 card mx-1 box_border">
            <div class="card-body row">
                <div class="col-6 text-black">
                    <blockquote>
                        I'm Mohammad Javad Tabari
                        also, people call me "دایی" most of the time
                        also, my programming nickname is "illegible"
                        you can mail me directly at this email address: <q>mohammadJavadtabari1024@outlook.com</q>
                    </blockquote>
                </div>
                <div class="col-6">
                    <img class="img-fluid img-thumbnail" src="media/Saturn_5_1_generated.jpg" alt="dayana family dayana programming group" />
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 card mx-1 box_border">
            <div class="card-body row">
                <div class="col-6 text-black">
                    <blockquote>
                        <b>and I should say welcome to Dayana</b>
                        <p>
                            here is my idea for a long time. building such organization on GitHub and having my own programming Team and Family. and finally, I built this place with my young and smart friends,
                        </p>
                    </blockquote>
                </div>
                <div class="col-6">
                    <img class="img-fluid img-thumbnail" src="media/Alphabet_BG_Gradients_D_generated.jpg" alt="dayana programming family" />
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 card mx-1 box_border">
            <div class="card-body">
                <div class="text-black">
                   <blockquote>
                        <i>
                            we work here together learn and practice improve ourself improve our family build tools,
                            apps, websites working on AI and ML discuss with each other and solve problems help new people to grow with us and feed them with our knowledge tree get customers and do their jobs build multi-dimensional projects with multi-purpose all around the world we have special teams for every part of programming and IT Penetration Testers, developers, Data Scientists, Designers, Graphic Specialists, Bussiness Assistance, Security Specialists, and ... we are growing continuously nothing can stop this concept. even if I die, my brothers and sisters will continue our family plans.
                        </i>
                   </blockquote>
                </div>
            </div>
        </div>
    </div>

</header>
<body>

    <div class="row card-group mt-3 ">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 card mx-1 box_border">
            <div class="card-body row">
                <div class="col-6 text-black">
                    <blockquote>
                        I'm Mohammad Javad Tabari
                        also, people call me "دایی" most of the time
                        also, my programming nickname is "illegible"
                        you can mail me directly at this email address: mohammadJavadtabari1024@outlook.com
                    </blockquote>
                </div>
                <div class="col-6">
                    <img class="img-fluid img-thumbnail" src="media/dayanalogomotion.gif" />
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 card mx-1 box_border">
            <div class="card-body">
                <blockquote>


                <h3>
                    <pre>
  we are your best choice
                we are your best choice
                            we are your best choice
                    </pre>
                </h3>
<b>
                        <pre>
if you are new to programming 
and you are just confused in the middle of the way. or you just wanna start
                We Are Your Best Choice
if you are a mid-level or senior developer or IT Specialist
or any kind of talent and knowledge you have, and you think it's useful in our family
                We Are Your Best Choice
for more information you can contact me via email

___________________ have a nice day 🍎 ______________________________________

                   </pre>
</b>
                </blockquote>
            </div>
        </div>
    </div>
</body>
<footer>

    <div class="row card-group mt-3 ">
        <div class="col-12 card mx-1 box_border">
            <div class="card-body">
                <blockquote>
                    We Are Your Best Choice
                    if you are new to programming and you are just confused in the middle of the way. or you just wanna start

                    We Are Your Best Choice
                    if you are a mid-level or senior developer or IT Specialist or any kind of talent and knowledge you have, and you think it's useful in our family

                    We Are Your Best Choice
                    for more information you can contact me via email

                    have a nice day 🍎
                    We Are Your Best Choice
                    if you are new to programming and you are just confused in the middle of the way. or you just wanna start

                    We Are Your Best Choice
                    if you are a mid-level or senior developer or IT Specialist or any kind of talent and knowledge you have, and you think it's useful in our family

                    We Are Your Best Choice
                    for more information you can contact me via email

                    have a nice day 🍎
                </blockquote>
            </div>
        </div>
    </div>
</footer>
</html>